<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script
      src="https://kit.fontawesome.com/3d65360e1b.js"
      crossorigin="anonymous"
    ></script>
    <title>KiaN Rabiei | کیان ربیعی</title>
    <script>
      function scrollToAbout(asd) {
        document.getElementById(asd).scrollIntoView({ behavior: "smooth" });
      }
    </script>
  </head>

  <body class="d-flex">
    <div class="container">
      <div
        class="row header justify-content-center align-items-center"
        style="margin-top: 1%"
      >
        <span class="col-12 col-md-3 d-none d-md-block float-left">KiaN</span>
        <div class="col-12 col-md-6" style="text-align: center">
          <ul>
            <a href="#home" onclick="scrollToAbout('home')">
              <li>Home</li>
            </a>
            <a href="#about" onclick="scrollToAbout('about')">
              <li>About</li>
            </a>
            <a href="#skills" onclick="scrollToAbout('skills')">
              <li>Skills</li>
            </a>
          </ul>
        </div>
        <div class="col-12 col-md-3 text-center text-md-end">
          <ul>
            <a href="https://www.youtube.com/channel/UCjB9cPJd7nEFQdzHg47jT6w">
              <li><i class="fa-brands fa-youtube"></i></li>
            </a>
            <a href="https://discord.gg/qGgZayyPJe">
              <li><i class="fa-brands fa-discord"></i></li>
            </a>
          </ul>
        </div>
      </div>
      <div id="home" class="row" style="margin-top: 2.5%">
        <div class="col-12 col-md-6 body-left">
          <span style="font-size: 25pt">Hello ___</span> <br />
          <span>I'm <span class="rgbtext" id="writer"></span></span> <br />
          <p style="font-size: medium">
            🌟 Welcome to my personal website! I'm Kian Rabiei, a 15-year-old
            programmer specializing in JavaScript. 💻 With four years of
            experience, I create computer, mobile, and web applications. 🚀 Join
            me on my coding journey as we explore new technologies and build
            innovative solutions. Feel free to browse my projects and reach out
            for inquiries or collaborations. Happy coding with Kian Rabiei! 🌈
          </p>
          <!-- <input id="cwm" type="button" value="Contact With Me" /> -->
        </div>
        <div class="col-12 col-md-6 body-right">
          <img src="/assets/img/Untitled-1.png" alt="Background Img" />
        </div>
      </div>
      <div class="row" style="margin-top: 2.5%">
        <span style="font-size: 25pt; margin-bottom: 2.5%"
          >What Can I Do ?</span
        >
        <div class="col-12 col-sm-6 col-md-3 pb-2">
          <div class="what-items">
            <img src="/assets/img/icons/software.png" alt="phone call" />
            <br />
            <span>Software Development</span>
            <p>
              Software Development is the process of creating and maintaining
              computer programs using programming languages and development
              tools.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 pb-2">
          <div class="what-items">
            <img src="/assets/img/icons/mobile-app.png" alt="phone call" />
            <br />
            <span>App Development</span>
            <p>
              App Development refers to the creation and modification of
              software applications for mobile devices and other platforms.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 pb-2">
          <div class="what-items">
            <img src="/assets/img/icons/brainstorming.png" alt="phone call" />
            <br />
            <span>Consultation</span>
            <p>
              Consultation is the process of providing expert advice and
              guidance on a specific topic or problem to individuals or
              organizations.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 pb-2">
          <div class="what-items">
            <img src="/assets/img/icons/programming.png" alt="phone call" />
            <br />
            <span>UI/UX Design</span>
            <p>
              UI/UX Design focuses on creating visually appealing and
              user-friendly interfaces for digital products, ensuring a seamless
              and engaging user experience.
            </p>
          </div>
        </div>
      </div>
      <div id="about" class="row" style="margin-top: 5%; margin-bottom: 2.5%">
        <span style="font-size: 25pt; margin-bottom: 2.5%">About Me</span>
        <div class="col ab_left">
          <img class="img" src="/assets/img/pic2.jpg" alt="KiaN" />
        </div>
        <div class="col ab_right">
          <span style="font-size: 35pt" class="rgbtext">KiaN Rabiei</span>
          <br />
          <p style="font-size: medium">
            Hello there! 👋 My name is Kian Rabiee, and I'm a passionate
            15-year-old programmer. 💻 I've been immersed in the world of coding
            for the past 4 years, honing my skills and exploring the vast
            possibilities of programming. 🌟 During my journey, I initially
            focused on professional programming in the FiveM environment for
            around a year. It was an exciting experience that allowed me to
            delve into the intricacies of game development and server-side
            scripting. 🎮 However, I soon realized that my hunger for knowledge
            couldn't be contained within a single programming language. So, I
            made the decision to expand my horizons and dive into other realms
            of coding. As a result, I have now become proficient in JavaScript,
            Node.js, HTML, and CSS. 💪 JavaScript empowers me to create dynamic
            and interactive web applications, while Node.js allows me to build
            robust server-side applications. With HTML and CSS, I can craft
            beautiful and responsive user interfaces. 🌐 With a burning
            curiosity and a constant thirst for learning, I strive to stay up to
            date with the latest technologies and industry trends. My goal is to
            contribute my skills to meaningful projects and make a positive
            impact in the world of technology. 🌍 Thank you for taking the time
            to learn a little bit about me. I'm excited to continue my coding
            journey and see where it takes me next! 🚀
          </p>
          <div class="info-list">
            <ul>
              <li><strong>Age: </strong> 15</li>
              <li><strong>Job: </strong> Programmer</li>
              <li><strong>Work Experience: </strong> 4 Years</li>
              <li><strong>Residence: </strong> Iran. Tehran</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="skills" class="row" style="margin-top: 5%; margin-bottom: 2.5%">
        <span style="font-size: 25pt; margin-bottom: 2.5%">My Skills</span>
        <div class="col-12 skills percent content-box">
          <ul>
            <li>
              <div class="name">HTML , CSS</div>
              <div class="progress">
                <div class="percentage" style="width: 100%">
                  <span class="percent">100%</span>
                </div>
              </div>
            </li>
            <li>
              <div class="name">JavaScript</div>
              <div class="progress">
                <div class="percentage" style="width: 90%">
                  <span class="percent">90%</span>
                </div>
              </div>
            </li>
            <li>
              <div class="name">Lua</div>
              <div class="progress">
                <div class="percentage" style="width: 100%">
                  <span class="percent">100%</span>
                </div>
              </div>
            </li>
            <li>
              <div class="name">MongoDB</div>
              <div class="progress">
                <div class="percentage" style="width: 60%">
                  <span class="percent">60%</span>
                </div>
              </div>
            </li>
            <li>
              <div class="name">MySql</div>
              <div class="progress">
                <div class="percentage" style="width: 100%">
                  <span class="percent">100%</span>
                </div>
              </div>
            </li>
            <li>
              <div class="name">React</div>
              <div class="progress">
                <div class="percentage" style="width: 30%">
                  <span class="percent">30%</span>
                </div>
              </div>
            </li>
            <li>
              <div class="name">NodeJS</div>
              <div class="progress">
                <div class="percentage" style="width: 100%">
                  <span class="percent">100%</span>
                </div>
              </div>
            </li>
            <li>
              <div class="name">VueJs</div>
              <div class="progress">
                <div class="percentage" style="width: 40%">
                  <span class="percent">40%</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row footer">
        <p>
          2023 - kian-rabiei.ir - All rights reserved -
          <span id="btnSwitch"><i class="fa-solid fa-moon"></i></span>
        </p>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script>
      document.getElementById("btnSwitch").addEventListener("click", () => {
        if (document.documentElement.getAttribute("data-bs-theme") == "dark") {
          document.documentElement.setAttribute("data-bs-theme", "light");
        } else {
          document.documentElement.setAttribute("data-bs-theme", "dark");
        }
      });
      var i = 0;
      var i2 = 0;
      var txts = ["Developer", "Designer"]; /* The text */
      var speed = 50; /* The speed/duration of the effect in milliseconds */
      function typeWriter() {
        if (i < txts[i2].length) {
          document.getElementById("writer").innerHTML += txts[i2].charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        } else {
          setTimeout(deleteText, speed * 20);
        }
      }

      function deleteText() {
        if (i > 0) {
          var currentText = document.getElementById("writer").innerHTML;
          document.getElementById("writer").innerHTML = currentText.slice(
            0,
            -1
          );
          i--;
          setTimeout(deleteText, speed);
        } else {
          i2++;
          if (i2 >= txts.length) {
            i2 = 0;
          }
          setTimeout(typeWriter, speed);
        }
      }
      const sds = true;
      if (sds == true) {
        typeWriter();
        sds = false;
      }
      setTimeout(typeWriter, 2500);
    </script>
  </body>
</html>
