* {
    user-select: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    font-size: 25pt;
    font-family: sans-serif;
}

.header ul li {
    display: inline;
    margin-right: 10px;
}

.body-right {
    text-align: center;
}
.body-right > img {
    width: 100%;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.body-left {
    font-size: 50pt;
}

.footer {
    font-weight: bold;
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#cwm {
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 100, 100);
    font-size: 25pt;
}

#btnSwitch {
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .header {
        font-size: 15pt;
    }
    .body-left {
        font-size: 25pt;
    }
}

@keyframes example {
    0%   {margin-top: 0px;}
    50% {margin-top: -20px;}
    100%   {margin-top: 0px;}
  }
@keyframes example2 {
  0%   {margin-top: -20px;}
  50% {margin-top: 0px;}
  100%   {margin-top: -20px;}
}
  