@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
  font-weight: normal;
}

* {
  user-select: none;
  font-family: "Quicksand";
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  font-size: 20pt;
  font-family: "Raleway";
}

.header > span {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
}

.header ul li {
  display: inline;
  margin-right: 10px;
}
.header ul li:hover {
  background: -webkit-linear-gradient(
    45deg,
    rgba(223, 60, 173, 1) 0%,
    rgba(255, 95, 95, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-right {
  text-align: center;
}
.body-right > img {
  width: 100%;
}

.body-left {
  font-size: 50pt;
}

#writer {
  background: -webkit-linear-gradient(
    45deg,
    rgba(223, 60, 173, 1) 0%,
    rgba(255, 95, 95, 1) 100%
  );
  /* background: linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.what-items {
  background-color: transparent;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.what-items > img {
  width: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.what-items > span {
  font-size: large;
  font-weight: bold;
}

.footer {
  margin-top: 5%;
  font-weight: bold;
}

#cwm {
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: rgb(100, 136, 255);
  font-size: 25pt;
}

#btnSwitch {
  cursor: pointer;
  background-color: rgba(117, 117, 170, 0.3);
  padding: 10px 15px;
  border-radius: 50%;
}

.title_inner {
  font-size: larger;
  font-weight: bold;
}

.desc > p {
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
}

.info-list {
  margin-bottom: 40px;
}

.info-list ul li {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin: 12px 0 0 0;
}

.ab_left {
  text-align: center;
  align-items: center;
}

.ab_left > .img {
  background-color: rgb(21, 146, 255);
  height: 500px;
  width: 400px;
  border-radius: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.ab_right {
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 540px) {
  .header {
    font-size: 15pt;
  }
  .body-left {
    font-size: 25pt;
  }
}
